.stImage{
     /* med_guard logo */
    height: 170px;
    width: 160px;
    display: flex;
}





.st-emotion-cache-6qob1r{ 
    /*you chai sidebar bhitra ko tyo diseases ko selction ko ho*/
    max-width: 18vw;
}
.stSidebar{
    /* tyo bahira ko */
    /* border: 2px solid white; */
    max-width:17vw;
}